
{% extends 'main.html' %} {% block content %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Hi its my first VeloBlog!</h1>
                    <p class="lead mb-0">Velobike its love </p>
                    {% if blogtitlesearch%}
                    <p class="lead mb-0">Всі результати по запиту:{{blogtitlesearch}} </p>
                    {%endif%}
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% for featured in featuredPost  %}
                    <div class="card mb-4">
                        <a href="#!">
                            {%if featured.image %}
                            <img class="card-img-top" src="{{featured.image.url}}" alt="..." />
                        {%endif%}</a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title">{{featured.title}}</h2>
                            <p class="card-text">{{featured.desc}}</p>
                            <a class="btn btn-primary" href="{% url 'details' id=featured.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        
                            <!-- Blog post-->
                            {% for post in posts%}
                            <div class="col-lg-6">
                            <div class="card mb-4">
                                <a href="#!">
                                    {%if post.image %}
                                    <img class="card-img-top" src="{{post.image.url}}" alt="..." />
                                {%endif%}
                                </a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">{{post.title}}</h2>
                                    <p class="card-text">{{post.desc}}</p>
                                    <a class="btn btn-primary" href="{% url 'details' id=post.id %}">Read more →</a>
                                </div>
                            </div>
                        </div>
                           {%endfor%}
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <form action="." method="post" >
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="blog_title" class=form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Velo</a></li>
                                        <li><a href="#!">Istori</a></li>
                                        <li><a href="#!">Store</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Tester</a></li>
                                        <li><a href="#!">Gide</a></li>
                                        <li><a href="#!">Info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Reklama</div>
                        <div class="card-body"> You need activiti life ? Go come VELO BLOG !!!</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock  %}