{% extends 'main.html' %} {% block content %}

<h2>Login form</h2>
<img src="https://st2.depositphotos.com/2234485/5568/i/600/depositphotos_55683595-stock-photo-man-cycling-through-park.jpg " width="1000" height="500">

<div class="container">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row">
      <h2 style="text-align:center">Login veloblog</h2>
      <div class="vl">

      </div>



      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">

      </div>

    </div>
  </form>
  {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>

{%endblock%}