{% include 'navbar.html' %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
           <p class="text-secondary">в майбутньому буде більше, у т.ч. історія переглядів та коментарів </p>
        </div>
      </div>
      <!-- Здесь будет форма -->
    </div>
{% endblock content %}